# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#output
dist/*
!components/*/dist/
dist-legacy/
eslint-report.html

#distrubution
distribution/

artifacts/
bit-*.tar.gz
tmp/
bin/node
nodeBin

# bit directories
.bit
.bitmap

# DS_Store
.DS_Store

#vscode history
.history

#gitbook
_book

# pkg releases
releases/
bin/bit
